@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200,300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,500&display=swap");

.App {
	text-align: center;
}

body {
	background: linear-gradient(to left, #c0c0aa, #1cefff);
}

.title {
	font-family: "Roboto";
	font-weight: 300;
}

button {
	border: 0;
	padding: 8px 20px;
	margin: 5% 2px 5px 0;
	border-radius: 5px;
	font-weight: 600;
	font-size: 15px;
	background-color: #f1d451;
	color: rgb(0, 0, 0);
	cursor: pointer;
	outline: none;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
}

button:active {
	transform: scale(0.98);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.quotes {
	font-family: "Grandstander", cursive;
	margin: 10%;
	margin-bottom: 5%;
	font-size: 22px;
}

.author {
	font-size: 20px;
	font-family: "Grandstander", cursive;
}
